@layout("/common/_container.html"){
<div class="ibox float-e-margins" xmlns:c="http://www.w3.org/1999/html">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <input type="hidden" id="id" value="${leaveGhl.id}">
                <div class="col-sm-6 b-r">
                    <h3>申请详情</h3>
                    申请人:${leaveGhl.name}<br>
                    申请状态:<span id="state">
                    @if(leaveGhl.pass=='0'){
                    未通过
                    @}
                    @if(leaveGhl.pass=='1'){
                    老鸟通过
                    @}
                    @if(leaveGhl.pass=='2'){
                    超级管理员通过
                    @}
                    </span><br>
                    -------------------
                </div>
            </div>


                @for(dec in decisionLeaves){
            <div class="row">
                <div class="col-sm-6 b-r">
                    第${decLP.index}次处理<br>
                    处理人:${dec.person}<br>
                    处理内容:${dec.context}<br>
                    审批状态:
                    @if(dec.state==0){
                    未通过<br>
                    @}
                    @if(dec.state==1){
                    老鸟通过<br>
                    @}
                    @if(dec.state==2){
                    超级管理员通过<br>
                    @}
                    -------------------
                </div>
            </div>
                @}


            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    @if(shiro.hasPermission("/leave/des")){
                    @if(leaveGhl.pass=='0' || leaveGhl.pass=='1'){
                    处理人签名:<input id="person" value="" type="text"><br>
                    备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;注:<input id="context" value="" type="text"><br>
                    <#button btnCss="info" name="通过" id="ensure" icon="fa-check" clickFun="LeaveInfoDlg.editYes()"/>
                    <#button btnCss="info" name="不通过" id="ensure" icon="fa-check" clickFun="LeaveInfoDlg.editNo()"/>
                    @}
                    @}

                    <#button btnCss="danger" name="返回" id="cancel" icon="fa-eraser" clickFun="LeaveInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/leave/Leave_info.js"></script>
@}
