@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>考勤管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#input name="名称" id="autoJSON" onKeyup="Leave.autoComplete()"/>
                                <div class="col-sm-3" id="message"></div>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Leave.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="LeaveTableToolbar" role="group">
                            @if(shiro.hasPermission("/leave/showSheet")){
                                <#button name="添加" icon="fa-plus" clickFun="Leave.openAddLeave()"/>
                            @}
                            @if(shiro.hasPermission("/leave/edit")){
                            <#button name="查看审批详情" icon="fa-plus" clickFun="Leave.showleave()" space="true"/>
                            @}
                        </div>
                        <#table id="LeaveTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/leave/Leave.js"></script>
@}
