@layout("/common/_container.html"){
<div class="ibox float-e-margins" xmlns:c="http://www.w3.org/1999/html">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${leaveGhl.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="name" name="申请人" underline="true" value="${leaveGhl.name}"/>

                    <#input id="state" name="审批状态" underline="true" value="${leaveGhl.pass=='1'?'管理员通过':'未通过'}"/>

                    <#input id="remark" name="请假原因" underline="true" value="${leaveGhl.remark}"/>

                    <#input id="person" name="处理人签名" underline="true" value=""/>

                    <#input id="context" name="备注" underline="true" value=""/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="通过" id="ensure" icon="fa-check" clickFun="LeaveInfoDlg.editYes()"/>
                    <#button btnCss="info" name="不通过" id="ensure" icon="fa-check" clickFun="LeaveInfoDlg.editNo()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="LeaveInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/leave/Leave_info.js"></script>
@}
